// colors
$primary-color: #4751C0;
$secondary: #E5E5E5;
$buttonColor: #424A9E;
$dark-blue: #4953BE;
$text-color: #464FAC;
$orange: #F7A491;
$white: #fff;
$red: #FF7878;
$gray: #DBDEFF;
$pink: #FFDBDB;

// sizes
$mobile_small: '320px';
$mobile_medium: '375px';
$mobile-large: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptop-large: '1440px';
$desktop: '2560px';

// fonts
$comfortaa: "Comfortaa";
$QuicksandBold: "QuicksandBold";
$QuicksandMedium: "QuicksandMedium";
